<h1>Sistema de Times Pokémon</h1>

<h2>Treinadores</h2>
<ul>
  <li><a href="{{ url_for('listar_treinador') }}">Listar treinadores</a></li>
  <li><a href="{{ url_for('cadastrar_treinador') }}">Cadastrar treinador</a></li>
</ul>

<h2>Pokémon</h2>
<ul>
  <li><a href="{{ url_for('listar_pokedex') }}">Listar pokémon</a></li>
  <li><a href="{{ url_for('cadastrar_pokemon') }}">Cadastrar pokémon</a></li>
</ul>

<h2>Times</h2>
<ul>
  <li><a href="{{ url_for('listar_times') }}">Listar times</a></li>
  <li><a href="{{ url_for('cadastrar_time') }}">Associar treinador e pokémon</a></li>
</ul>